<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" src="/styles/body.scss" />
    <link rel="stylesheet" src="/styles/main.scss" />
    <link rel="icon" type="image/x-icon" href="assets/favico.ico" />
    <title>The Travel App</title>
  </head>

  <body>
    <div id="loading-area"><p>Loading...</p></div>
    <header
      style="background-image: url('assets/background.png')"
      id="header-area"
    >
      <h1>Your complete travel summary</h1>
      <h3>Find every information here</h3>

      <form class="form-area" onsubmit="return Client.handleForm(event)">
        <label class="input-area" for="city">
          <span>City</span>
          <input type="text" name="city" id="city" required />
        </label>
        <label class="input-area" for="date">
          <span>Date</span>
          <input type="date" name="date" id="date" required />
        </label>
        <button id="button-send" type="submit"><div>&#9906;</div></button>
      </form>
    </header>
    <main>
      <h1 id="title-body">My Trips</h1>
      <section id="my-trips"></section>
    </main>

    <footer></footer>
  </body>
  <script>
    if ("serviceWorker" in navigator) {
      window.addEventListener("load", () => {
        navigator.serviceWorker
          .register("/service-worker.js")
          .then((result) => {
            console.log("Registred: ", result);
          })
          .catch((error) => {
            console.log("Error: ", error);
          });
      });
    }

    // Function to get data from localstorage and get from backend
    window.onload = function () {
      if (localStorage.getItem("local-infos")) {
        const data = JSON.parse(localStorage.getItem("local-infos"));
        data.map(async (d) => await Client.getData(d.city, d.date));
      }
    };
  </script>
</html>
